<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="inputFile" value="C:\Users\Luk3\Desktop\Global.resx"/>
		<add key="outputFile" value="C:\Users\Luk3\Desktop\Global.fr-FR.resx"/>
		<add key="API_KEY_Azure_Cognitive_Services" value="YOURAPIKEY"/>
		<add key="fromLanguage" value="es"/>
		<add key="toLanguage" value="fr"/>
	</appSettings>
</configuration>